@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* importo las variables y el estilo de header, navbar y footer */
/* Defino variables */
/* formato del header */
header {
  grid-area: header;
  height: 160px;
  background-color: #f8f8f8;
}

header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* formato de la navbar */
nav {
  background-image: -webkit-gradient(linear, left top, right top, from(#e64646), to(#8d3333));
  background-image: linear-gradient(to right, #e64646, #8d3333);
}

.navbar {
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: #e9e9e9be;
  background-color: #00000031;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 50%;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #e9e9e9;
  background-color: #00000050;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
  color: #e9e9e9be;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #e9e9e9;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #00000077;
}

.navbar .btn-outline-light {
  border-color: #e9e9e9be;
}

/* formato del footer */
footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em;
}

footer a {
  margin: 0.5em;
}

/* defino fuente y fondo */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

/* Doy formato genérico a los botones para extender esta clase */
.boton-base, .boton-aceptar, .boton-cancelar, .boton-comprar {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.boton-aceptar {
  color: rgba(255, 255, 255, 0.712);
  background-color: #086600;
}

.boton-aceptar:hover {
  color: white;
  background-color: #075000;
}

.boton-cancelar {
  color: rgba(255, 255, 255, 0.712);
  background-color: #ad0000;
}

.boton-cancelar:hover {
  color: white;
  background-color: #700000;
}

.boton-comprar {
  color: rgba(255, 255, 255, 0.712);
  background-color: #707070;
}

.boton-comprar:hover {
  color: white;
  background-color: #3a3a3a;
}

/* comienza formato a contenido de paginas */
/* para el index y productos */
.card {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card p a {
  text-decoration: none;
  font-weight: bold;
  color: #414e49;
}

.card p a:hover {
  font-weight: bold;
  color: #010202;
}

/* formato de las promos del index */
section.promos .card:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: sombrear;
          animation-name: sombrear;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes sombrear {
  0% {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
}

@keyframes sombrear {
  0% {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
}

#frase {
  margin-top: 1em;
}

/* formato de tarjetas de productos */
.tarjetas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tarjetas .card p.card-text {
  margin-bottom: 0rem;
}

.tarjetas .card p.card-price {
  font-weight: bold;
}

.tarjetas .card .card-title {
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
}

.tarjetas .card .card-body {
  padding-top: 0.5rem;
  text-align: center;
}

/* formato de recetas */
article.receta {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: -ms-grid;
  display: grid;
}

article.receta .titulo {
  grid-area: titulo;
  text-align: center;
}

article.receta .foto {
  grid-area: foto;
}

article.receta .resumen {
  grid-area: resumen;
  margin-bottom: 1rem;
}

article.receta .resumen p {
  margin-bottom: 0em;
}

article.receta .ingredientes {
  grid-area: ingredientes;
}

article.receta .pasos {
  grid-area: pasos;
}

article.receta .video {
  grid-area: video;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* diseño de formulario de contacto */
section.contacto {
  display: -ms-grid;
  display: grid;
}

section.contacto .titulo {
  grid-area: contacto_titulo;
}

section.contacto .formulario {
  grid-area: contacto_formulario;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: -ms-grid;
  display: grid;
}

section.contacto .mapa {
  grid-area: contacto_mapa;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ca1111;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(83, 8, 8, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(83, 8, 8, 0.25);
}

.botones {
  text-align: center;
}

fieldset {
  border: 0;
  padding: 0.5em;
}

fieldset legend {
  display: block;
  font-size: larger;
  font-weight: bold;
  border-bottom: 1px solid #7a7a7a;
  width: 100%;
  padding-top: 1em;
  margin-bottom: 1em;
}

.input-checkbox {
  margin: 0.5em;
}

input[type="text"],
[type="email"] {
  width: 75%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2em;
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.25rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.input-text {
  margin: 0.5em;
}

.input-dropdown {
  margin: 0.5em;
}

.input-dropdown label {
  display: inline-block;
  width: 20%;
}

.input-dropdown select {
  height: 1.5em;
}

.input-textarea {
  display: block;
  margin: 0.5em;
}

.input-textarea label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.input-textarea textarea {
  padding: 0.5em;
  resize: none;
  width: 95%;
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.25rem;
}

/* responsive: Mobile */
@media screen and (min-width: 320px) {
  .iMap {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 95%;
  }
  .formulario {
    width: 100%;
  }
  section.contacto {
    margin-left: 0.5em;
    margin-right: 0.5em;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "contacto_titulo" "contacto_formulario" "contacto_mapa";
    justify-items: justify;
  }
  .historia {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .historia-texto {
    padding: 0.5em;
  }
  .historia-foto {
    width: 100%;
  }
  .historia-foto img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
  article.receta {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "titulo" "foto" "resumen" "ingredientes" "pasos" "video";
  }
  article.receta .foto {
    margin-left: auto;
    margin-right: auto;
  }
  article.receta .foto img {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 2%;
  }
  .tarjetas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.promos,
  section.productos,
  section.recetas,
  section.nosotros,
  section.contacto {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  section.recetas .pasos {
    width: 100%;
  }
  .tarjetas .card {
    margin: 0.5em;
  }
  section.promos .card {
    margin: 0.5em;
  }
  .input-text label {
    display: block;
  }
}

/* Responsive intermedio: tablet */
@media screen and (min-width: 700px) {
  .iMap {
    margin-top: 0em;
    width: 95%;
  }
  .iMap,
  #formulario {
    margin-left: 1em;
    margin-right: 1em;
  }
  #formulario {
    padding: 1em;
  }
  .historia {
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .historia img {
    min-width: 200px;
    border-radius: 0.25rem;
  }
  .historia-texto {
    padding: 1em;
  }
  .tarjetas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
  }
  .tarjetas .card {
    margin: 1em;
  }
  .videoYoutube {
    width: 560px;
    height: 315px;
  }
  article.receta {
    margin-left: 2em;
    margin-right: 2em;
    -ms-grid-columns: 30% 35% 35%;
        grid-template-columns: 30% 35% 35%;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "titulo titulo titulo" "foto resumen ingredientes" "pasos pasos pasos" "video video video";
  }
  article.receta .foto img {
    width: 90%;
    margin-left: 1em;
  }
  article.receta .pasos {
    padding-right: 1em;
  }
  .receta .titulo,
  .receta .foto,
  .receta .resumen,
  .receta .ingredientes,
  .receta .pasos,
  .recetas .video {
    margin: 1em;
  }
}

/* Responsive: escritorio */
@media screen and (min-width: 1200px) {
  .input-text label {
    display: inline-block;
    width: 20%;
  }
  section.contacto {
    margin-left: 2em;
    margin-right: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "contacto_titulo contacto_titulo" "contacto_formulario contacto_mapa";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.promos,
  section.productos,
  section.recetas,
  section.nosotros,
  section.contacto {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  article.historia {
    padding: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  article.historia img {
    min-width: 400px;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  section.promos .card {
    margin: 0.1em;
  }
  article.receta {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  article.receta .resumen,
  article.receta .ingredientes {
    padding-top: 2em;
  }
  article.receta .resumen {
    padding-left: 1.5em;
  }
  article.receta .ingredientes {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  article.receta .pasos {
    padding-left: 1em;
    padding-right: 3em;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=style.css.map */