/* Defino variables */
$fuente: "Roboto", sans-serif;
$imgfondo: "../assets/img/background.jpg";
$header_color: black;
$nav_fondo_colorizq: #de3c4b;
$nav_fondo_colorder: #8d232d;
$nav_fuente_color: #e9e9e9be;
$nav_fuente_colorhover: #e9e9e9;
$nav_fuente_coloractive: #00000077;
$texto_fondo_color: #fff;